@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*::before, *::after, * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    overflow-x: hidden;
    width: 100vw;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style-type: none;
}
img {
    max-width: 100%;
}
.container {
    width: 1170px;
    margin: auto;
}

/* header */
.header {
    padding-top: 40px;
    margin-bottom: 110px;
}
.header_wrapper {
    display: flex;
    align-items: center;
}
.header__logo_wrapper {
    margin-right: 115px;
}
.header__right {
    display: flex;
}
.header__nav {
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.header__nav-item_wrapper {
    margin-right: 40px;
    transition: .2s;
}
.header__nav-item_wrapper:hover {
    opacity: 0.8;
}
.header__nav-item_general {
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #4582EC;
    border-radius: 4px;
}
.header__nav-item_wrapper:last-child {
    margin-right: 0;
}
.header__nav-item_text {
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 500;
}
.header__nav-item_general > .header__nav-item_text {
    color: #4582EC;
    font-weight: 400;
}
.header__contacts_wrapper {
    display: flex;
    flex-direction: column;
}
.header__contacts-phone, .header__contacts-mail {
    display: flex;
    align-items: center;
}
.header__contacts-phone_img, .header__contacts-mail_img {
    margin-right: 10px;
}
.header__contacts-phone_text {
    font-size: 22px;
    font-weight: 600;
}
.header__contacts-mail_text {
    font-size: 14px;
    font-weight: 300;
}
.header__burger_button {
    display: none;
    cursor: pointer;
}
.header__burger {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #fff;
    overflow: hidden;
    height: 0px;
    transition: .3s;
    z-index: 999;
}
.header__burger_active {
    height: 471px;
    padding: 25px 0px 40px 25px;
}

/* main */
.main {
    min-height: calc(100vh - 316px);
    background-image: url(../img/bg-dots.png);
    background-repeat: no-repeat;
    min-width: 100vw;
    position: relative;
    right: 0;
    overflow-x: hidden;
}
.bg-shape {
    position: absolute;
    height: 100%;
    z-index: -1;
    max-width: none;
    max-height: none;
}
    /* section hero */
.hero {
    display: flex;
    justify-content: space-between;
}
.hero__text {
    width: 652px;
}
.hero__back-btn {
    display: block;
    width: 124px;
    height: 40px;
    background-color: #EDF3FE;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 17px;
}
.hero__back-btn_img {
    margin-right: 9px;
}
.hero__back-btn_text {
    font-size: 14px;
    font-weight: 500;
    color: #8FB4F4;
}
.hero__title {
    font-size: 24px;
    font-weight: 700;
    color: #4582EC;
    margin-bottom: 14px;
}
.hero__description {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #99A3A9;
    line-height: 35px;
    margin-bottom: 60px;
}
.hero__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
}
.hero__input {
    width: 270px;
    height: 54px;
    margin-bottom: 30px;
    padding: 12px 30px;
    font-size: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
}
.hero__input:last-child {
    margin-bottom: 0;
}
.hero__submit {
    width: 270px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    border-radius: 4px;
    border: none;
    background-color: #4582EC;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
    /* slick dots */
.slick-dots {
    position: absolute;
    top: 200px;
    right: -40px;
}
.slick-dots button {
    font-size: 0px;
    width: 18px;
    height: 18px;
    background-color: #D2E1FC;
    border-radius: 50%;
    border: 4px solid #fff !important;
    cursor: pointer;
    border: none;
}
.slick-dots > li {
    margin: auto;
}
.slick-active button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid #4582EC !important;
    background-color: #fff;
}

/* footer */
.footer {
    background-color: #021437;
    padding: 40px 0;
    margin-top: 100px;
}
.footer__text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

@media (min-width: 1570px) {
    .container-hero {
        width: 1352px;
    }
}
@media (max-width: 1250px) {
    .container {
        width: 900px;
    }
    
    /* header */
    .header_wrapper {
        justify-content: space-between;
    }
    .header__logo_wrapper {
        margin-right: 0;
    }
    .header__nav {
        margin-right: 30px;
    }
    .header__nav-item_wrapper {
        margin-right: 20px;
    }
}
@media (max-width: 968px) {
    .container {
        width: 728px;
    }
    .main {
        min-height: calc(100vh - 316px);
        background-image: none;
    }
    .hero {
        flex-direction: column-reverse;
    }
    /* header */
    .header__contacts-phone_text {
        font-size: 20px;
    }
    .header__nav-item_wrapper {
        display: none;
    }
    .header__nav-item_general {
        display: block;
    }
    .header__burger {
        display: block;
        padding-top: 43px;
    }
    .header__burger .header__nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__burger .header__nav-item_wrapper {
        display: block;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__burger .header__nav-item_wrapper:last-child {
        margin-top: 4px;
        margin-bottom: 70px;
    }
    .header__burger .header__contacts-phone_text {
        font-size: 22px;
    }
    .header__burger_close {
        display: none;
    }
    .header__burger_button {
        display: block;
        width: 20px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 325px;
        max-width: 100%;
    }
    .hero__text {
        width: 100%;
    }
    .hero__form {
        width: 100%;
    }
    /* header */
    .header {
        margin-bottom: 67px;
    }
    .header__nav-item_general {
        display: none;
    }
    .header__contacts_wrapper {
        display: none;
    }
    .header__burger .header__contacts_wrapper {
        display: block;
    }

    /* footer */
    .footer__text {
        font-size: 14px;
    }
    footer {
        margin-top: 30px;
    }
}
