.header {
    margin-bottom: 0;
}
.main {
    padding-top: 110px;
}
.bg-shape {
    top: -105px;
    right: -100px;
    height: 1000px;
}
.our-services {
    margin-bottom: 100px;
}
.section-title {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    color: #2F2F2F;
    margin-bottom: 32px;
}
.description-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: #99A3A9;
    margin-bottom: 32px;
}
.card-container {
    margin-top: 51px;
}
.card-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-block {
    width: 390px;
    height: 220px;
    background-color: #fff;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}
.card-block:hover {
    z-index: 10000;
    box-shadow: 0px 20px 40px rgba(11, 38, 84, 0.05);
}
.card-block:nth-child(1) {
    border-bottom: 1px solid #f2f3f6;
    border-right: 1px solid #f2f3f6;
}
.card-block:nth-child(2) {
    border-bottom: 1px solid #f2f3f6;
    border-right: 1px solid #f2f3f6;
    border-left: 1px solid #f2f3f6;
}
.card-block:nth-child(3) {
    border-bottom: 1px solid #f2f3f6;
    border-left: 1px solid #f2f3f6;
}
.card-block:nth-child(4) {
    border-top: 1px solid #f2f3f6;
    border-right: 1px solid #f2f3f6;
}
.card-block:nth-child(5) {
    border-top: 1px solid #f2f3f6;
    border-right: 1px solid #f2f3f6;
    border-left: 1px solid #f2f3f6;
}
.card-block:nth-child(5) {
    border-top: 1px solid #f2f3f6;
    border-left: 1px solid #f2f3f6;
}   
.card-name {
    font-size: 16;
    font-weight: 600;
    color: #2F2F2F;
    padding-top: 28px;
}
.rewiev-top {
    font-size: 24px;
    font-weight: 600;
    color: #6A9BF0;
    margin-bottom: 9px;
}
.review-topdown {
    font-size: 26px;
    font-weight: 700;
    color: #2F2F2F;
}
.reviews__text {
    color: #99A3A9;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}
.reviews-slider {
    margin-top: 51px;
}
.reviews_header {
    text-align: center;
}
.tech-skills {
    margin-top: 100px;
}
.skills-section-title {
    font-size: 26px;
    font-weight: 700;
    color: #2F2F2F;
    margin-bottom: 32px;
}
.skills-description {
    color: #99A3A9;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 51px;
}
.skills-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-title {
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 500;
    height: 0;
    display: block;
    overflow: hidden;
    text-align: center;
    transition: ease all 0.3s;
}
.skill-subtitle {
    height: 0;
    overflow: hidden;
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: #99A3A9;
    transition: ease all 0.3s;
}
.skill-block {
    padding: 8px 15px 17px 15px;
    width: 170px;
    height: 140px;
    border-radius: 15px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: default;
}
.image-skills img {
    height: 60px;
    display: block;
    margin: auto;
    transition: ease all 0.3s;
}
.skill-block:hover .skill-title {
    height: 29px;
}
.skill-block:hover .skill-subtitle {
    height: 50px;
}
.skill-block:hover .image-skills>img {
    height: 34px;
}
.skill-block:hover {
    flex-direction: column;
    box-shadow: 0px 20px 40px rgba(11, 38, 84, 0.05);
}
.our-expertise {
    margin-top: 100px;
    margin-bottom: 100px;
}
.expertise-page__title {
    font-size: 24px;
    color: #6A9BF0;
    font-weight: 600;
}
.expertise-page__subtitle {
    font-size: 26px;
    font-weight: 700;
    color: #2F2F2F;
    margin-bottom: 77px;
}
.expertise {
    text-align: center;
}
.expertise-block {
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 195px;
    transition: 0.3s;
}
.expertise-block:hover {
    box-shadow: 0px 20px 40px rgba(11, 38, 84, 0.05);
}
.expertise-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1170px;
}
.expertise-block:nth-child(5) img {
    opacity: 0.5;
}
.expertise-slider {
    width: 100%;
}
.slick-dots {
    width: 70px;
    display: flex;
    position: static;
    margin: 0 auto;
    margin-top: 60px;
}
.form__block {
    width: 100%;
    justify-content: center;
    height: 330px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgb(11 38 84 / 5%);
}
.form-title {
    font-size: 26px;
    font-weight: 700;
    color: #2F2F2F;
    display: block;
    margin-bottom: 22px;
}
.form-description {
    font-size: 16px;
    font-weight: 400;
    color: #99A3A9;
    display: block;
}
.form__header {
    text-align: center;
    margin-bottom: 40px;
}
.footer-form__button {
    width: 170px;
    height: 54px;
    background: #4582EC;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
}
.footer-form__input {
    width: 370px;
    height: 54px;
    background: transparent;
    color: #99A3A9;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    padding-left: 30px;
}
.footer-form__input input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.form-block__inner {
    align-items: center;
    justify-content: center;
    display: flex;
}
.hero-container {
    display: flex;
    justify-content: center;
}
.hero {
    margin-bottom: 170px;
}
.reviews-user__name {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #2F2F2F;
}
.reviews-user__job {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #99A3A9;
}
.reviews-user__text {
    font-size: 14px;
    font-weight: 400;
    color: #99A3A9;
    margin-bottom: 15px;
    line-height: 180%;
}
.reviews-block {
    width: 400px;
    box-shadow: 0px 20px 40px rgba(11, 38, 84, 0.05);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    opacity: .5;
}
.clients-feedback div.slick-active {
    opacity: 1 !important;
}
.reviews-user-block__footer {
    display: flex;
    justify-content: space-between;
}
.reviews-user-block__container {
    width: 282px;
}
.reviews-user__img {
    width: 85px;
}
.reviews-container {
    display: flex;
}
@media (max-width: 968px) {
    .hero {
        margin-bottom: 0;
    }
    .our-services {
        margin-bottom: 10px;
    }
    .slick-dots {
        width: 120px;
    }
}
@media (max-width: 767px) {
    .expertise-block {
        margin: auto;
    }
    .form-block__inner {
        flex-direction: column;
    }
    .footer-form__input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .footer-form__button {
        width: 100%;
        margin: 0;
    }
}